#protected
.webauth

#Arduino
*.hex
*.elf
*.epp
# Compiled Object files
*.slo
*.lo
*.o
*.d
# Compiled Dynamic libraries
*.so
# Compiled Static libraries
*.lai
*.la
*.a
#Temp files
*.log
/serial/
/rfid/
/system/
/db
/http.sh
/pwd_hash
